footer {

    background-color: #808080;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;

    z-index: 0;
    p {
        color: #FFF;
        margin: 0 ;
        text-align: center;
        color: black;
        z-index: 10;
    }
  }